<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>

  <div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <label for="username" class="mat-form-field-label">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="username" placeholder="Enter your username" class="custom-input"><br><br>
      <label for="password" class="mat-form-field-label">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="Enter your password" class="custom-input"><br><br>
      <button class="button-submit">Submit</button>
    </form>
  </div>
  <img src="./assets/images/homescreen.jpg" alt="Background Image" style="position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: -1;">
  <router-outlet></router-outlet>
</div>
